* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

img {
  vertical-align: top;
  border: 0;
}

body {
  color: #222328;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  position: relative;
  /* // 메뉴가 배너보다 우선순위가 낮아져서 메뉴가 가려지는걸 막기 위해서
  // position값을 지정 */
  z-index: 10;
}

header h1 {
  float: left;
  width: 100px;
  padding-top: 30px;
}

header nav {
  float: right;
  width: 700px;
  padding-top: 30px;
}

header nav ul.gnb {
  width: 100%;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}

header nav ul.gnb > li {
  width: 25%;
  float: left;
}

header nav ul.gnb > li > a {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

/* GNB를 호버하면 색을 바꿔줌 */
header nav ul.gnb > li:hover > a {
  background: #5f1c25;
  color: #fff;
}

header nav ul.gnb > li > ul.sub {
  width: 100%;
  line-height: 40px;
  display: none;
}
header nav ul.gnb > li > ul.sub > li {
  width: 100%;
}
header nav ul.gnb > li > ul.sub > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

/* a를 호버하면 색을 바꿔줌 */
header nav ul.gnb > li > ul.sub > li:hover {
  background: #5f1c25;
  color: #fff;
}

.slide {
  width: 100%;
  height: 300px;
  background: #bbb;
  position: relative;
}

.slide ul.slide_all > li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
}

.slide ul.slide_all {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
}

.contents {
  width: 100%;
  height: 200px;
  background: #ccc;
}

footer {
  width: 100%;
  height: 100px;
  background: #ddd;
}
